<?xml version='1.0' encoding='utf-8'?>
<widget 
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:gap="http://phonegap.com/ns/1.0"
	id="com.cafelunar.syncfile" 
	version="1.0.7" 
>
    <name>Sync File</name>
    <description>
        Simple txt file sync.
    </description>
    <author email="phonegap@cafelunar.com" href="http://cafelunar.com">
        cafelunar team
    </author>
    <platform name="android" />
    <preference name="phonegap-version" value="cli-8.0.0" />
    <content src="index.html" />
    <access origin="*" />
	<allow-intent href="http://*/*" />
	<allow-intent href="https://*/*" />
	<icon src="icon.png" />
</widget>
